p,div{
    color: #464646;
}
a{
    text-decoration: none;
}
.font-12{
    font-size: 12px;
}
.font-13{
    font-size: 13px;
}
.font-15{
    font-size: 15px;
}
.font-16{
    font-size: 16px;
}
.font-17{
    font-size: 17px;
}
.font-22{
    font-size: 22px;
}
.font-25{
    font-size: 27px;
}
.font-35{
    font-size: 35px;
}
.wei-500{
    font-weight: 500;
}
.wei-600{
    font-weight: 600;
}
.wei-700{
    font-weight: 700;
}
.btn-main{
    color: #0f0fb6;
    border-radius: 0;
    letter-spacing: 0.03rem;
}
.btn-border{
    border: 1px solid #626262;
}
.border-1{
    border: 1px solid rgba(0,0,0,0.1);
}
.header-space{
    height: 128px;
}
.no-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media (max-width: 576px) {

}
@media (min-width: 576px) {
    .p-main{
        margin-right: 15px;
        margin-left: 15px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .p-main1{
        padding-left: 10px;
        padding-right: 10px;
    }
    .margin-out{
        margin-left: 25px;
        margin-right: 25px;
    }
}
@media (min-width: 768px) {
    .p-main{
        margin-right: 30px;
        margin-left: 30px;
        padding-right: 40px;
        padding-left: 40px;
    }
    .p-main1{
        padding-left: 20px;
        padding-right: 20px;
    }
    .margin-out{
        margin-left: 50px;
        margin-right: 50px;
    }
}
@media (min-width: 992px) {
    .p-main{
        margin-right: 75px;
        margin-left: 75px;
        padding-right: 90px;
        padding-left: 90px;
    }
    .p-main1{
        padding-left: 45px;
        padding-right: 45px;
    }
    .margin-out{
        margin-left: 120px;
        margin-right: 120px;
    }
}
@media (min-width: 1200px) {
    .p-main{
        margin-right: 75px;
        margin-left: 75px;
        padding-right: 90px;
        padding-left: 90px;
    }
    .p-main1{
        padding-left: 45px;
        padding-right: 45px;
    }
    .margin-out{
        margin-left: 120px;
        margin-right: 120px;
    }
}
@media (min-width: 1400px) {
    .p-main{
        margin-right: 150px;
        margin-left: 150px;
        padding-right: 180px;
        padding-left: 180px;
    }
    .p-main1{
        padding-left: 90px;
        padding-right: 90px;
    }
    .margin-out{
        margin-left: 240px;
        margin-right: 240px;
    }
}